{% extends "layout.html" %}
{% block code %}

<!DOCTYPE html>
<html>
<body>
 <style>

.content {
  max-width: 1000px;
  margin: auto;
  background:#0B0C10;
  padding: 100px;
}
</style>
 <div class="content">
 <center>
    <h2 style="color:#66FCF1">About</h2>
    <p></p>
</center>
        <h5 style="color:#66FCF1">1. Big Mart Sales Predictor will predict the Sales of the BIG MART Product.</h5>
        <h5 style="color:#66FCF1">2. The Dataset of this Big Mart Predictor will be downloaded from this Link:</h5>
        <p></p>
         <h4 style="color:#66FCF1"> https://www.kaggle.com/brijbhushannanda1979/bigmart-sales-data/downloads/bigmart-sales-data.zip/1 </h4>
    <h5 style="color:#66FCF1">3. This project is done by Amit Jain, Mahima Choudhary and Ritika Gupta in the Forsk Summer Training 2019
    Program under the guidence of Forsk Technology team.</h5>
    <p></p>
       <h4 style="color:white"><strong>Note : </strong>This prediction was done with the help of Machine Learning Model.</h4>
</div>
    
</body>
</html>
{% endblock %}
